* {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: var(--blueish-white);
  font-family: Work Sans;
  --dark-blue: #021F3D;
  --night-blue: #021733;
  --black-blue: #010713;
  --starship-green: #1F9972;
  --lighter-starship-green: #41D3A5;
  --blueish-white: #D7ECF2;
  --light-blue: #C5DCE5;
  --pink-red: #e4837c;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/pexels-philippe-donn-1169754.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black-blue);
}
.invis {
  opacity: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome {
  flex-direction: column;
  min-height: 40vh;
  padding: 100px 0 0 0;
}
#welcome-text-container {
  flex-direction: column;
  min-height: 220px;
  background-color: var(--dark-blue);
  padding: 35px 55px 12px 55px;
  border-style: solid;
  border-width: thick;
  border-color: var(--starship-green);
  border-radius: 75px;
  box-shadow: 4px 4px 3px var(--night-blue);
}
#links-container {
  justify-content: space-around;
  height: 50px;
  width: 100%;
}
#project-container {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  margin: 30px 0 0 0;
  padding: 0 0 20px 0;
}
.project {
  flex-direction: row;
  min-height: 150px;
  width: 50%;
  margin: 10px;
  border-style: solid;
  border-width: medium;
  border-color: var(--starship-green);
  border-radius: 18px;
  background-color: var(--dark-blue);
  box-shadow: 3px 3px 3px var(--night-blue);
}
.project-info {
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin: 15px 0 15px 0;
}
.project-header {
  flex-direction: row;
  justify-content: center;
  padding: 0 0 10px 0;
}
.hidden {
  display: none;
  opacity: 0;
}

h1 {
  text-align: center;
  padding: 28px 0 10px 0;
  text-shadow: 4px 4px 3px var(--dark-blue);
}

h2 {
  margin: 0 12px 0 10px;
  text-shadow: 3px 3px 3px var(--night-blue);
}

p {
  font-size: 15px;
}
#name {
  text-align: center;
  margin: 10px 0 25px 0;
  font-size: 55px;
  font-family: Futurama Title Font;
  color: var(--lighter-starship-green);
  padding: 2px 12px;
  text-shadow: 5px 5px 5px var(--night-blue);
}
#trivia {
  font-size: 20px;
  text-shadow: 3px 3px 3px var(--night-blue);
}
#description {
  font-size: 24px;
  text-shadow: 3px 3px 3px var(--night-blue);
}
.project-description {
  margin: 0 15px 0 0;
}

a {
  text-decoration: none;
  color: var(--light-blue);
  font-size: 20px;
}
a:hover {
  color: white;
  text-shadow: 3px 3px 3px var(--night-blue);
}
.welcome-link {
  margin: 0 8px;
}
.project-link {
  margin: 0 8px 0 0;
}

text {
  font-size: 15px;
}

i {

}
.project-main-icon::before {
  font-size: 42px;
  padding: 0 30px 0 20px;
}

img {
}
.main-project-img {
  width: 50px;
  height: 50px;
  padding: 0 30px 0 20px;
}

hr {
  width: 80px;
  margin: 14px 0 4px 0;
  box-shadow: 3px 3px 3px var(--night-blue);
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-in-element {
  display: flex;
  animation: fade-in 1s;
}

/* Glitch Animation */

.glitch {
  position: relative;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 6px;
  text-shadow: -1px 0 var(--pink-red);
  background: var(--dark-blue);
  clip: rect(0px, 450px, 56px, 0);
  animation: glitch-anim-1 0.24s 0.64s linear alternate-reverse;
}
.glitch::after {
  left: 0px;
  background: var(--dark-blue);
  text-shadow: 5px 5px 5px var(--night-blue);
  animation: glitch-anim-2 0.24s 0.64s linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(8px, 450px, 33px, 0);
  }
  20% {
    clip: rect(17px, 450px, 45px, 0);
  }
  40% {
    clip: rect(33px, 450px, 72px, 0);
  }
  60% {
    clip: rect(3px, 450px, 38px, 0);
  }
  80% {
    clip: rect(35px, 450px, 22px, 0);
  }
  100% {
    clip: rect(42px, 450px, 86px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(52px, 450px, 32px, 0);
  }
  20% {
    clip: rect(6px, 450px, 82px, 0);
  }
  40% {
    clip: rect(32px, 450px, 56px, 0);
  }
  60% {
    clip: rect(22px, 450px, 3px, 0);
  }
  80% {
    clip: rect(35px, 450px, 44px, 0);
  }
  100% {
    clip: rect(13px, 450px, 44px, 0);
  }
}
